appdirs==1.4.4
beautifulsoup4==4.9.1
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
clarifai==2.6.2
configparser==3.8.1
cryptography==2.9.2
decorator==4.4.2
distlib==0.3.1
dnspython==2.0.0
EasyProcess==0.3
emoji==0.5.4
filelock==3.0.12
future==0.18.2
googleapis-common-protos==1.52.0
grpcio==1.30.0
idna==2.10
instapy==0.6.9
jsonschema==2.6.0
MeaningCloud-python==1.2.2
pbr==5.4.5
pipenv==2020.6.2
plyer==1.4.3
protobuf==3.12.2
pycparser==2.20
pymongo==3.10.1
python-dotenv==0.14.0
python-telegram-bot==12.8
PyYAML==5.3.1
regex==2020.6.8
requests==2.24.0
schedule==0.6.0
selenium==3.141.0
six==1.15.0
soupsieve==2.0.1
testresources==2.0.1
tornado==6.0.4
tqdm==4.47.0
urllib3==1.25.9
virtualenv==20.0.27
virtualenv-clone==0.5.4
webdriverdownloader==1.1.0.3
